.pricelist {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.pricelist section {
	border-radius: 8px;
	padding: 55px;
	background: white;
	box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.1);
	color: #333;
	margin-bottom: 15px;
}

.pricelist section:nth-of-type(1) {
	width: calc(50% - 120px);
}
.pricelist section:nth-of-type(2) {
	width: calc(50% - 120px);
	position: relative;
	overflow: hidden;
}

.pricelist table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	table-layout: fixed;
}

.pricelist tr:hover {
	background-color: #e5e5e5;
}

.pricelist th {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #d6dde1;
	border-top: 1px solid #d6dde1;
}

.pricelist td {
	padding: 15px;
	border-bottom: 1px solid #d6dde1;
}

#addItem {
	background-color: var(--main);
	text-decoration: underline var(--main);
	font-size: 18px;
	line-height: 18px;
}

#addItem:hover {
	background-color: var(--main-dark);
}

.edit_price,
.add_item {
	position: absolute;
	width: calc(100% - 110px);
	height: 100%;
	padding: 0 55px;
	background-color: var(--main);
	left: 0;
	top: 100%;
	transition: all 1s;
	color: white;
}

.edit_price form,
.add_item form {
	width: calc(100% - 110px);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.edit_price h2 {
	color: white;
}

.edit_price input,
.edit_price input::placeholder {
	color: white !important;
}

.show_roles_edit,
.show_add_item {
	top: 0;
}

#close {
	color: white;
	position: absolute;
	font-size: 22px;
	top: 0;
	right: 0;
	padding: 16px 20px;
	background-color: var(--main);
	cursor: pointer;
	transition: all 0.5s;
}

#close:hover {
	color: white;
	background-color: var(--red);
}

/*
* styly k formuláři přídávání nových položek
* zbytek je stejný jako pro formulář editace
*/

.add_item {
	background-color: var(--green);
}

.add_item h2 {
	margin-bottom: 30px;
}

.add_item #close {
	background-color: var(--green);
}

.add_item #close:hover {
	background-color: var(--red);
}

.add_item button {
	background-color: var(--main-dark);
	text-decoration: underline var(--main-dark);
}

.add_item button:hover {
	text-decoration: underline var(--green);
}

@media (max-width: 1500px) {
	.pricelist section:nth-of-type(1) {
		width: calc(100% - 110px);
	}
	.pricelist section:nth-of-type(2) {
		width: calc(100% - 110px);
	}
}

/*
* styly ke kalendáři
* globální přepisování je v index.css
*/

.calendar table {
	margin-top: 0;
}

.calendar table tr:hover {
	background-color: white;
}

.calendar button {
	text-decoration: none !important;
}
