.register {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 300px;
	gap: 15px;
}

.register section {
	border-radius: 8px;
	padding: 55px;
	background: -webkit-linear-gradient(top, #7579ff, #b224ef);
	background: white;
	box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.1);
	color: #2d1967;
	grid-column: span 1;
	grid-row: span 1;
}

.register section:nth-of-type(1) {
	grid-column: span 2;
	grid-row: span 3;
	max-height: 650px;
}
.register section:nth-of-type(2) {
	grid-column: span 2;
	grid-row: span 2;
}

.register h2 {
	font-size: 35px;
	margin: 0;
}

.input_box {
	position: relative;
	background: linear-gradient(to left, #333 50%, rgb(255, 255, 255, 0.9) 50%);
	background-size: 200% 1px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	margin: 15px 0;
	height: 50px;
}

.input_box input {
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 10px);
	height: 35px;
	background-color: transparent;
	padding: 5px 0;
	color: #333;
	font-size: 16px;
	transition: all 0.5s;
}

.input_box input:focus {
	left: 0;
}

.input_box input:focus ~ .icon {
	transform: translateY(-28px);
	font-size: 12px;
}

.input_box input::placeholder {
	color: #333;
}

.icon {
	font-size: 16px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s;
}

.register input[type="submit"] {
	background-color: #2d1967;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 8px;
	margin-top: 25px;
	color: white;
	transition: all 0.5s;
	border: solid 1px #2d1967;
}

.register select {
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 20px);
	height: 35px;
	background-color: transparent;
	padding: 5px 0;
	color: #333;
	font-size: 16px;
	transition: all 0.5s;
}

.register select option {
	background-color: white;
	line-height: 22px;
}

.register input[type="submit"]:hover {
	background-color: transparent;
	color: black;
}
