.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery section:nth-of-type(1) {
	width: calc(50% - 120px);
}

.gallery section:nth-of-type(2) {
	width: calc(50% - 120px);
}

.picked_categories {
	display: flex;
	flex-wrap: wrap;
}

.picked_categories li {
	cursor: pointer;
	background-color: var(--main-dark);
	color: white;
	padding: 5px 15px;
	border-radius: 8px;
	margin: 2px;
	transition: all 0.5s;
}

.picked_categories li:hover {
	background-color: var(--red);
}

.edit_image_cont,
.add_images_cont {
	position: fixed;
	left: 50%;
	top: 50%;
	background-color: var(--green);
	width: 100%;
	max-width: 400px;
	z-index: 1;
}

.close_btn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
	color: white;
	background-color: var(--red);
	cursor: pointer;
	padding: 5px 10px;
	transition: all 0.5;
}

.close_btn:hover {
	background-color: var(--red-dark);
}

@media (max-width: 1200px) {
	.gallery section:nth-of-type(1) {
		width: calc(100% - 110px);
	}

	.gallery section:nth-of-type(2) {
		width: calc(100% - 110px);
	}
}

@media (max-width: 900px) {
	.gallery section:nth-of-type(1) {
		width: calc(100% - 60px);
	}

	.gallery section:nth-of-type(2) {
		width: calc(100% - 60px);
	}
}

@media (max-width: 600px) {
	.gallery section:nth-of-type(1) {
		width: calc(100% - 40px);
	}

	.gallery section:nth-of-type(2) {
		width: calc(100% - 40px);
	}

	.edit_image_cont,
	.add_images_cont {
		width: calc(100% - 70px);
	}
}
