.articles {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
}

.articles_list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.articles_list article {
	width: calc(33% - 30px);
	aspect-ratio: 16 / 10;
	margin: 15px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	border-radius: 8px;
	box-shadow: 2px 0px 6px 0 rgb(43 43 43 / 50%);
}

.articles_list article:hover > img {
	transform: scale(1.1);
}

.articles_list article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 1s;
	border-radius: 8px;
}

.articles_list div:nth-of-type(1) {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: calc(100% - 60px);
	padding: 10px 20px;
	border-radius: 8px;
	background-color: var(--green-dark);
	color: white;
	transition: all 1s;
}

.articles_list div:nth-of-type(2) {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	border-radius: 8px;
	background-color: rgb(43 43 43 / 70%);
	color: white;
	transition: all 1s;
}

.articles_list div:nth-of-type(3) {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	padding: 10px;
	border-radius: 8px;
	color: white;
	transition: all 1s;
}

.articles_list h3 {
	margin: 0;
}

.articles_list p {
	margin: 5px 0;
	color: black;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	white-space: pre-wrap;
}

.articles_list p:nth-of-type(2) {
	color: white;
	font-size: 12px;
}

@media (max-width: 1200px) {
	.articles_list article {
		width: calc(50% - 30px);
	}
	.articles section:nth-of-type(1) {
		width: calc(100% - 110px);
	}
}

@media (max-width: 900px) {
	.articles section:nth-of-type(1) {
		width: calc(100% - 60px);
	}
}

@media (max-width: 650px) {
	.articles_list article {
		width: calc(100% - 30px);
	}
}

@media (max-width: 600px) {
	.articles section:nth-of-type(1) {
		width: calc(100% - 40px);
	}
}
