.new_password_cont {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--main-dark);
	width: 300px;
	padding: 55px;
	border-radius: 8px;
	box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
}

.new_password_cont div {
	display: flex;
	justify-content: space-between;
}

.new_password_cont button:nth-of-type(1) {
	background-color: var(--main);
	text-decoration: underline var(--main);
}

.new_password_cont button:nth-of-type(2) {
	background-color: var(--red);
	text-decoration: underline var(--red);
}

.new_password_cont button:nth-of-type(1):hover {
	background-color: var(--main-dark);
	text-decoration: underline white;
}

.new_password_cont button:nth-of-type(2):hover {
	background-color: var(--red-dark);
	text-decoration: underline white;
}
