/*---------------------------------------------- FILTER*/
.filter {
	position: fixed;
	top: 90px;
	right: 10px;
	display: flex;
	flex-wrap: wrap;
	width: calc(80% - 50px);
	max-width: 700px;
	height: calc(100vh - 190px);
	padding: 40px 60px;
	align-content: flex-start;
	border-radius: 8px;
	overflow: hidden;
	background-color: var(--green);
	box-shadow: 2px 2px 5px 2px rgb(0, 0, 0, 0.2);
	z-index: 4;
}

.filter h3 {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	color: white;
}

.scrollable {
	height: calc(100% - 150px);
	overflow-y: auto;
}

.buttons_section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.filter_param {
	width: calc(100% - 20px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px;
}

.filter_param div {
	display: flex;
	margin-right: 10px;
	margin-bottom: 10px;
}

.filter_param label {
	width: 100% !important;
	margin: 5px !important;
	font-weight: normal;
}

#close {
	color: var(--red);
	position: absolute;
	font-size: 22px;
	top: 0;
	right: 0;
	padding: 16px 20px;
	background-color: var(--green);
	cursor: pointer;
	transition: all 0.5s;
}

#close:hover {
	color: white;
	background-color: var(--red);
}

@media (max-width: 1600px) {
	.filter {
		max-height: calc(100vh - 250px);
	}
}

@media (max-width: 700px) {
	.filter {
		width: calc(100% - 70px);
		padding: 25px;
		right: 10px;
	}
}

/*----------------------------------- Order ID search bar*/
.search_bar {
	max-width: 300px;
	border: solid 1px white;
	border-radius: 8px;
	margin-bottom: 30px;
}

.search_bar input {
	background-color: var(--green);
	color: white;
	font-size: 1rem;
	margin-left: 10px;
}

.search_bar svg {
	color: white;
}

.search_bar input::placeholder {
	color: white;
}
