.notifier {
	position: fixed;
	bottom: -45px;
	left: 0;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
	border-radius: 8px;
	z-index: 1;
	animation-name: appear;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

.notifier label {
	margin-left: 8px;
}

.success {
	background-color: #28a745;
}

.failure {
	background-color: #dc3545;
}

.alert {
	background-color: #fd7e14;
}

@keyframes appear {
	to {
		bottom: 0px;
	}
}
