.dashboard {
	position: relative;
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
}

.content {
	width: calc(100% - 380px);
	margin: 15px;
	margin-top: 130px;
	right: 0;
}

@media (max-width: 1600px) {
	.content {
		width: calc(100% - 30px);
		margin-top: 15px;
	}
}

@media (max-width: 600px) {
	.content {
		margin: 8px;
		width: calc(100% - 16px);
	}
}
