.loader {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	border-top: 3px solid #fff;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border-bottom: 3px solid var(--main);
	border-left: 4px solid transparent;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
