.menu {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 20px 0;
	background-color: var(--main-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	flex-wrap: wrap;
	z-index: 10;
}

.logo_title {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo {
	width: 40px;
	margin-left: 40px;
}

.logo_text {
	width: 130px;
	margin-left: 15px;
}

.title {
	font-size: 25px;
	margin-left: 5px;
	color: #fff;
}

.menu_button {
	position: relative;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	border: 0;
	margin-right: 35px;
}

.menu_button svg {
	display: block;
	margin: auto;
}

.menu ul {
	position: absolute;
	top: 80px;
	left: 0;
	width: 350px;
	height: calc(100vh - 80px);
	margin: 0;
	box-shadow: var(--section-shadow);
	background-color: var(--main-dark);
	list-style: none;
	overflow-y: auto;
	scrollbar-color: var(--main) #333;
}

@media (max-width: 700px) {
	.title {
		font-size: 1.2rem;
	}

	.menu_button {
		margin-right: 20px;
	}
}
