.events {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
}

.filter {
	background-color: var(--main);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 50px;
}

.filter h2 {
	width: auto;
	font-size: 28px;
	margin: 0;
	color: white;
}

.filter div {
	display: flex;
	align-items: center;
}

.filter label {
	margin: 0 30px;
	font-size: 24px;
	color: white;
	font-weight: 600;
}

.events_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.events_list article {
	width: calc(33% - 30px);
	aspect-ratio: 16 / 10;
	margin: 15px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	border-radius: 8px;
	box-shadow: 2px 0px 6px 0 rgb(43 43 43 / 50%);
}

.events_list article:hover > img {
	transform: scale(1.1);
}

.events_list article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 1s;
	border-radius: 8px;
}

.events_list div:nth-of-type(1) {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: calc(100% - 60px);
	padding: 10px 20px;
	border-radius: 8px;
	background-color: var(--green-dark);
	color: white;
	transition: all 1s;
}

.events_list div:nth-of-type(2) {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	border-radius: 8px;
	background-color: rgb(43 43 43 / 70%);
	color: white;
	transition: all 1s;
}

.events_list div:nth-of-type(3) {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	padding: 10px;
	border-radius: 8px;
	color: white;
	transition: all 1s;
}

.events_list h3 {
	margin: 0;
}

.events_list p {
	margin: 5px 0;
	color: black;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	white-space: pre-wrap;
}

.events_list p:nth-of-type(2) {
	color: white;
	font-size: 12px;
}

@media (max-width: 1200px) {
	.events_list article {
		width: calc(50% - 30px);
	}
}

@media (max-width: 650px) {
	.filter {
		padding: 20px;
	}

	.filter h2,
	.filter label {
		font-size: 1.1rem;
	}

	.filter label {
		margin: 0 15px;
	}

	.events_list article {
		width: calc(100% - 30px);
	}
}

@media (max-width: 400px) {
	.filter {
		padding: 15px;
	}

	.events_list h3 {
		font-size: 1rem;
	}

	.events_list p {
		font-size: 0.8rem;
	}
}
