/*---------------------------------------------- FILTER*/
.filter {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 50px);
	padding: 25px;
	border: solid 1px var(--gray);
	border-radius: 8px;
	overflow: hidden;
}

.filter_param {
	width: calc(100% - 10px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px;
}

.filter_param h3 {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
}

.filter_param div {
	display: flex;
	margin-right: 10px;
	margin-bottom: 10px;
}

.filter_param label {
	width: 100% !important;
	margin: 5px !important;
	font-weight: normal;
}

.filter_param input[type="date"] {
	padding: 5px;
	border: solid 1px var(--gray);
	border-radius: 8px;
}
