.vacancies {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.vacancy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-height: 60px;
	margin: 10px 0;
	border: solid 1px var(--gray);
	border-radius: 8px;
	background-color: white;
	overflow: hidden;
}

.vacancy img {
	height: 60px;
}

.vacancy div {
	width: calc(100% - 120px);
	margin-left: 20px;
}

.vacancy b {
	display: block;
	font-size: 1.1rem;
}

.icon {
	color: var(--main);
	font-size: 1.2rem;
	padding: 20px 15px;
	transition: all 0.5s;
	cursor: pointer;
}

.icon:hover {
	color: var(--main-dark);
}

.icon:nth-of-type(2) {
	color: var(--red);
}

.icon:nth-of-type(2):hover {
	color: var(--red-dark);
}
