.item {
	display: flex;
	align-items: stretch;
	width: calc(100% - 5px);
	margin: 10px 0;
	border: solid 1px #d6dde1;
	border-radius: 8px;
	overflow: hidden;
}

.item input {
	width: 100%;
	padding-left: 30px;
	background-color: white;
	border-right: none;
}

.item svg {
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
	transition: all 0.5s;
	width: 40px;
}

.item svg:last-child {
	border-radius: 0 8px 8px 0;
}

.filter_button {
	color: var(--main);
}

.edit_button {
	color: var(--green);
}

.delete_button {
	color: var(--red);
}

.filter_button:hover {
	color: var(--main-dark);
}

.edit_button:hover {
	color: var(--green-dark);
}

.delete_button:hover {
	color: var(--red-dark);
}
