.page {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	border: solid 1px var(--gray);
	border-radius: 8px;
	overflow: hidden;
}

.info {
	width: 30%;
	margin-left: 20px;
	overflow: hidden;
}

.info b,
.info label {
	display: block;
	width: 100%;
	text-overflow: ellipsis; /* enables ellipsis */
	white-space: nowrap; /* keeps the text in a single line */
	overflow: hidden;
}

.page_configs {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.page_configs div {
	text-align: center;
}

.page_configs label {
	display: block;
	margin-bottom: 5px;
}

.page_configs svg {
	margin-bottom: 5px;
}

.btn_open {
	background-color: var(--green);
	padding: 20px;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
}

.btn_open:hover {
	background-color: var(--green-dark);
}

@media (max-width: 1100px) {
	.page_configs {
		width: 350px;
	}
}

@media (max-width: 900px) {
	.info {
		width: 80%;
	}

	.page_configs {
		display: none;
	}
}
