.page_header {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	border-radius: 8px;
	border: solid 1px var(--gray);
	color: black;
}

.btn_show {
	width: 15px;
	height: 15px;
	padding: 5px;
	margin-right: 15px;
	transform: rotate(90deg);
	border-radius: 50%;
	background-color: var(--main);
	color: white;
	transition: all 0.8s;
	cursor: pointer;
}

.btn_show:hover,
.active {
	transform: rotate(180deg);
}

.active:hover {
	background-color: var(--red);
	transform: rotate(0);
}

.page {
	width: calc(100% - 10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	margin-left: 10px;
	border: solid 1px var(--gray);
	border-radius: 8px;
	overflow: hidden;
}

.info {
	width: 30%;
	margin-left: 20px;
	overflow: hidden;
}

.info b,
.info label {
	display: block;
	width: 100%;
	text-overflow: ellipsis; /* enables ellipsis */
	white-space: nowrap; /* keeps the text in a single line */
	overflow: hidden;
}

.page_configs {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.page_configs div {
	text-align: center;
}

.page_configs label {
	display: block;
	margin-bottom: 5px;
}

.page_configs svg {
	margin-bottom: 5px;
}

.btn_open {
	background-color: var(--green);
	padding: 20px;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
}

.btn_open:hover {
	background-color: var(--green-dark);
}

@media (max-width: 1100px) {
	.page_configs {
		width: 350px;
	}
}

@media (max-width: 900px) {
	.info {
		width: 80%;
	}

	.page_configs {
		display: none;
	}
}
