.filter {
	width: calc(100% - 50px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	border-radius: 8px;
	background-color: var(--main);
}

.filter div {
	display: flex;
	align-items: center;
}

.filter label:nth-of-type(1) {
	font-size: 1.5rem;
	font-weight: 600;
	color: white;
	margin-right: 20px;
}

.filter label:nth-of-type(2) {
	font-size: 1.8rem;
	font-weight: 600;
	color: white;
}

.filter button {
	background-color: transparent;
	text-decoration: underline transparent;
}

.filter button:hover {
	text-decoration: underline white;
}

@media (max-width: 1200px) {
	.filter label:nth-of-type(1) {
		font-size: 1.2rem;
	}

	.filter label:nth-of-type(2) {
		font-size: 1.5rem;
	}
}

@media (max-width: 900px) {
	.filter {
		padding: 15px 25px;
	}
}

@media (max-width: 600px) {
	.filter {
		width: calc(100% - 30px);
		padding: 15px;
	}

	.filter label:nth-of-type(1) {
		font-size: 1rem;
		margin-right: 10px;
	}

	.filter label:nth-of-type(2) {
		font-size: 1.2rem;
	}
}

@media (max-width: 450px) {
	.filter div {
		width: 50%;
		flex-wrap: wrap;
	}

	.filter label {
		width: 100%;
		margin-right: 0;
	}

	.filter button {
		padding: 8px 12px;
	}
}
