.documents {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.add_files_cont {
	position: fixed;
	left: 50%;
	top: 50%;
	background-color: var(--green);
	width: 100%;
	max-width: 400px;
	z-index: 3;
	overflow: hidden;
}

.add_files_cont button {
	background-color: var(--main);
	text-decoration: underline var(--main);
}

.add_files_cont button:hover {
	background-color: var(--main-dark);
	text-decoration: underline white;
}

.close_btn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
	color: white;
	background-color: var(--red);
	cursor: pointer;
	padding: 5px 10px;
	transition: all 0.5;
}

.close_btn:hover {
	background-color: var(--red-dark);
}

/*-------------------------------- FILTER*/

.document_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	width: 100%;
}

@media (max-width: 600px) {
	.add_files_cont {
		width: calc(100% - 50px);
	}
}
