.menu {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 20px 0;
	background-color: var(--main-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	flex-wrap: wrap;
	z-index: 10;
}

.logo_title {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.menu img {
	width: 35px;
	margin-left: 40px;
}

.title {
	font-size: 25px;
	margin-left: 5px;
	color: #fff;
}

.menu_button {
	position: relative;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	border: 0;
	margin-right: 35px;
}

.menu_button svg {
	display: block;
	margin: auto;
}

.menu ul {
	position: absolute;
	top: 80px;
	left: 0;
	background-color: var(--main-dark);
	width: 100%;
	height: calc(100vh - 80px);
	margin: 0;
	list-style: none;
}

.menu li {
	margin: 15px 0;
	overflow: hidden;
}

.menu ul div {
	margin: 0 20px;
	padding: 15px 25px;
	font-size: 18px;
	font-weight: 500;
	color: var(--main);
	border-radius: 18px;
	cursor: pointer;
	transition: all 0.5s;
}

.menu ul div label {
	cursor: pointer;
	color: #b7c0cd;
}

.menu article {
	max-height: 0;
	margin-left: 40px;
	overflow: hidden;
	transition: max-height 0.7s ease-in-out;
}

.icon {
	margin-right: 10px;
	color: #b7c0cd;
}

.smallarrow {
	font-size: 15px;
	margin-left: 10px;
	color: white;
}

.menu ul a {
	display: block;
	margin: 15px 0 15px 35px;
	font-size: 18px;
	color: #b7c0cd;
	font-weight: 500;
	transition: all 0.5s;
}

.menu ul a:hover {
	color: #42a5f5;
}

.menu ul div:hover {
	background-color: var(--main-dark);
	color: white !important;
}

.menu ul div:hover label {
	color: white !important;
}

.active {
	border-left: solid var(--main) 4px;
	transition: all 0.5s;
}

.active > div {
	background-color: var(--main);
	color: white !important;
}

.active > article {
	max-height: 300px;
}

.active label {
	color: white !important;
}

.active_link {
	color: #42a5f5 !important;
}
