html {
	background-color: #f2f7fb;
}

.dashboard {
	position: relative;
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
}

.banner {
	width: calc(100% - 350px);
	position: absolute;
	height: 180px;
	top: 0;
	right: 0;
	background-color: var(--main-dark);
	color: white;
}

.banner h1 {
	font-size: 32px;
	font-weight: 400;
	margin: 45px 0 0 50px;
}

.banner p {
	margin: 0 0 0 50px;
}

.banner a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 40px;
	background-color: var(--green);
	padding: 12px 16px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s;
	color: white;
}

.banner a:hover {
	background-color: var(--green-dark);
	color: var(--main-dark);
}

.content {
	width: calc(100% - 380px);
	margin: 15px;
	margin-top: 130px;
	right: 0;
}

input[type="submit"],
button {
	background-color: var(--green);
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 8px;
	margin: 5px;
	margin-left: 0;
	/* margin-top: 20px; */
	color: white;
	transition: all 0.5s;
	border: solid 1px white;
	text-decoration: underline var(--green);
}

input[type="submit"]:hover,
button:hover {
	background-color: var(--green-dark);
	color: white;
	text-decoration: underline white;
}

form button {
	margin-top: 0;
}

h2 {
	width: 100%;
	font-size: 35px;
	margin: 0;
	margin-bottom: 40px;
	color: var(--main-dark);
}

section {
	position: relative;
	border-radius: 8px;
	padding: 55px;
	background: white;
	box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
	color: #333;
	margin-bottom: 15px;
	overflow: hidden;
}

@media (max-width: 1600px) {
	.banner {
		position: relative;
		width: 100%;
		background-color: var(--main);
		height: auto;
		padding: 55px;
	}

	.banner p,
	.banner h1 {
		margin: 0;
	}

	.content {
		width: calc(100% - 30px);
		margin-top: 15px;
	}
}

@media (max-width: 900px) {
	h2 {
		font-size: 28px;
	}

	section {
		padding: 30px;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
