.roles {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.permissions_table li {
	margin: 50px 0;
}

.permissions_table li:nth-of-type(1) {
	margin-top: 0;
}

.permissions_table li:nth-last-child(1) {
	margin-bottom: 0;
}

.permissions_table li strong {
	display: block;
	width: 100%;
	font-size: 2rem;
}

.permissions_table table {
	width: 100%;
	margin-top: 15px;
	table-layout: fixed;
	border-spacing: 0;
	border-radius: 8px;
	overflow: hidden;
}

.permissions_table td,
.permissions_table th {
	text-align: center;
	padding: 8px 0;
}

.permissions_table thead tr {
	background-color: var(--main);
	color: white;
}

.permissions_table tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

.permissions_table tbody tr:hover {
	background-color: #e5e5e5;
}

.permissions_table tr td:nth-of-type(1),
.permissions_table tr th:nth-of-type(1) {
	text-align: left;
	padding-left: 15px;
}

.permissions_table tr td:nth-of-type(5),
.permissions_table tr th:nth-of-type(5) {
	padding-right: 15px;
}

.permissions_table td svg {
	font-size: 1.5rem;
	cursor: pointer;
}

@media (max-width: 900px) {
	.permissions_table section:nth-of-type(1) {
		width: calc(100% - 60px);
	}

	.permissions_table li strong {
		font-size: 1.5rem;
	}

	.permissions_table th {
		font-size: 0.8rem;
	}

	.permissions_table td svg {
		font-size: 1.2rem;
	}
}

@media (max-width: 600px) {
	.permissions_table section:nth-of-type(1) {
		width: calc(100% - 40px);
	}

	.permissions_table table {
		min-width: 500px;
	}
}
