@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
	--main: #2874a6;
	--main-dark: #263544;
	/* --main-dark: #1b4f72; */
	--green: #17a589;
	--green-dark: #148f77;
	--red: #d3384b;
	--red-dark: #bb2f40;
	--gray: #d6dde1;
	--section-shadow: 0 0 5px 0 rgb(43 43 43 / 10%),
		0 11px 6px -7px rgb(43 43 43 / 10%);
}

body,
html {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	scrollbar-color: var(--main) #333;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	background-color: #f2f7fb;
}

input,
textarea {
	font-family: "Quicksand", sans-serif;
	outline: none;
	border: none;
	resize: none;
}

input[type="submit"] {
	cursor: pointer;
}

button,
.button {
	border: none;
	outline: none;
	font-family: "Quicksand", sans-serif;
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 120px white inset !important;
	-webkit-text-fill-color: black;
}

ul {
	padding: 0;
	list-style-type: none;
	scrollbar-width: thin;
	scrollbar-color: var(--main) #e5e5e5;
}

a {
	text-decoration: none;
	color: black;
}

select {
	outline: none;
	border: none;
}

input[type="submit"],
button,
.button {
	background-color: var(--green);
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 8px;
	margin: 5px;
	margin-left: 0;
	/* margin-top: 20px; */
	color: white;
	transition: all 0.5s;
	border: solid 1px white;
	text-decoration: underline var(--green);
}

input[type="submit"]:hover,
button:hover,
.button:hover {
	background-color: var(--green-dark);
	color: white;
	text-decoration: underline white;
}

form button {
	margin-top: 0;
}

h2 {
	width: 100%;
	font-size: 35px;
	margin: 0;
	margin-bottom: 40px;
	color: var(--main-dark);
}

section {
	position: relative;
	width: calc(100% - 110px);
	border-radius: 8px;
	padding: 55px;
	background: white;
	box-shadow: var(--section-shadow);
	color: #333;
	margin-bottom: 15px;
}

/* width */
html::-webkit-scrollbar {
	width: 10px;
}

/* Track */
html::-webkit-scrollbar-track {
	background: var(--gray);
}

/* Handle */
html::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.half-section {
	width: calc(50% - 120px);
}

.no-section {
	width: 100%;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

.red_button {
	background-color: var(--red);
	text-decoration: underline var(--red);
}

.red_button:hover {
	background-color: var(--red-dark);
	text-decoration: underline white;
}

.blue_button {
	background-color: var(--main);
	text-decoration: underline var(--main);
}

.blue_button:hover {
	background-color: var(--main-dark);
	text-decoration: underline white;
}

.small_button {
	padding: 6px 10px;
	font-size: 12px;
	margin-left: 10px;
}

.plus_button {
	position: fixed;
	right: 50px;
	bottom: 50px;
	color: white;
	background-color: var(--green);
	padding: 8px 15px;
	font-size: 2rem;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.5s all;
	box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
	z-index: 3;
}

.plus_button:hover {
	background-color: var(--green-dark);
	border-radius: 12px;
}

/* @media (min-width: 1600px) {
	section {
		animation-name: fadeIn;
		animation-duration: 1s;
	}
} */

@media (max-width: 1200px) {
	.half-section {
		width: calc(100% - 110px);
	}
}

@media (max-width: 900px) {
	h2 {
		font-size: 28px;
	}

	section {
		width: calc(100% - 60px);
		padding: 30px;
	}

	.half-section {
		width: calc(100% - 60px);
	}
}

@media (max-width: 600px) {
	section {
		padding: 20px;
	}

	.plus_button {
		padding: 6px 12px;
		bottom: 30px;
		right: 30px;
		font-size: 1.5rem;
	}
}

@keyframes fadeIn {
	from {
		transform: scale(0.9);
	}

	to {
		transform: scale(1);
	}
}

/*----------------------------------- SPLIDE*/
.splide__arrow--prev {
	left: -35px !important;
	margin: 0;
}

.splide__arrow--next {
	right: -35px !important;
	margin: 0;
}

@media (max-width: 900px) {
	.splide__arrow--prev {
		left: -28px !important;
	}

	.splide__arrow--next {
		right: -28px !important;
	}
}

.splide__pagination {
	bottom: -25px !important;
}

.splide__pagination__page.is-active {
	background: #263544 !important;
}

.fc-event-title {
	margin-left: 8px;
}

.fc-daygrid-event {
	border-radius: 15px !important;
	cursor: pointer;
}

.fc-toolbar {
	flex-wrap: wrap;
}

.fc-scrollgrid table {
	margin-bottom: 0 !important;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-start),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-end) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left-width: 0 !important;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
}

.ql-toolbar button {
	margin: 0;
}

.quill {
	margin-bottom: 40px;
}
