@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800&display=swap");
body,
html {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-family: "Barlow", sans-serif;
	font-weight: 400;
	scrollbar-color: var(--main-color) #333;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

:root {
	--main-color: #008080;
}
input {
	font-family: "Barlow", sans-serif;
	outline: none;
	border: none;
}

input[type="submit"] {
	cursor: pointer;
}

button {
	border: none;
	outline: none;
	font-family: "Barlow", sans-serif;
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 120px #7579ff inset !important;
	-webkit-text-fill-color: white;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

select {
	outline: none;
	border: none;
}
