@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body,
html {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	scrollbar-color: var(--main-color) #333;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

:root {
	--main-color: #008080;
}
input {
	font-family: "Quicksand", sans-serif;
	outline: none;
	border: none;
}

input[type="submit"] {
	cursor: pointer;
}

button {
	border: none;
	outline: none;
	font-family: "Quicksand", sans-serif;
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 120px white inset !important;
	-webkit-text-fill-color: black;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

select {
	outline: none;
	border: none;
}

.no-section {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

.splide__arrow--prev {
	left: -35px !important;
	margin: 0;
}

.splide__arrow--next {
	right: -35px !important;
	margin: 0;
}

@media (max-width: 900px) {
	.splide__arrow--prev {
		left: -28px !important;
	}

	.splide__arrow--next {
		right: -28px !important;
	}
}

.splide__pagination {
	bottom: -25px !important;
}

.splide__pagination__page.is-active {
	background: #263544 !important;
}

.fc-event-title {
	margin-left: 8px;
}

.fc-daygrid-event {
	border-radius: 15px !important;
	cursor: pointer;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-start),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-end) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left-width: 0 !important;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
}

.ql-toolbar button {
	margin: 0;
}

.quill {
	margin-bottom: 20px;
}
