.register {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.register section:nth-of-type(1) {
	width: calc(50% - 120px);
}
.register section:nth-of-type(2) {
	width: calc(50% - 120px);
	position: relative;
	overflow: hidden;
}

#btnEditRoles {
	margin-top: 50px;
}

.roles {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.roles div {
	width: 100%;
}

.roles h3 {
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	color: var(--green-dark);
}

.roles table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.roles tr:hover {
	background-color: #e5e5e5;
}

.roles th {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #d6dde1;
	border-top: 1px solid #d6dde1;
}

.roles td {
	padding: 15px;
	border-bottom: 1px solid #d6dde1;
}

.edit_roles {
	position: absolute;
	width: calc(100% - 110px);
	height: 100%;
	padding: 0 55px;
	background-color: var(--main);
	left: 0;
	top: 100%;
	transition: all 1s;
	color: white;
	z-index: 3;
}

.edit_roles select {
	color: white !important;
}

.edit_roles select option {
	color: white !important;
	background-color: #333 !important;
}

.edit_roles form {
	width: calc(100% - 110px);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.edit_roles h2 {
	color: white;
}

.show_roles_edit {
	top: 0;
}

#close {
	color: white;
	position: absolute;
	font-size: 22px;
	top: 0;
	right: 0;
	padding: 16px 20px;
	background-color: var(--main);
	cursor: pointer;
	transition: all 0.5s;
}

#close:hover {
	color: white;
	background-color: var(--red);
}

@media (max-width: 1200px) {
	.register section:nth-of-type(1) {
		width: calc(100% - 60px);
	}
	.register section:nth-of-type(2) {
		width: calc(100% - 60px);
	}
}

@media (max-width: 600px) {
	.roles th {
		padding: 15px 5px;
		font-size: 14px;
		max-width: 80px;
		text-align: center;
	}

	.roles td {
		padding: 15px 5px;
		text-align: center;
	}

	.roles td:nth-of-type(1) {
		max-width: 30px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 14px;
	}

	.edit_roles form {
		width: calc(100% - 60px);
	}

	.edit_roles {
		width: calc(100% - 60px);
		padding: 0 30px;
	}
}
