.menu_item {
	list-style-type: none;
	cursor: pointer;
	border: solid 1px transparent;
	transition: all 0.5s;
	padding: 5px;
	border-radius: 4px;
}

.white:hover {
	border: solid 1px white;
}

.menu_item label {
	margin-left: 10px;
}

.white .icon {
	color: #f2f2f2;
}

.icon {
	color: var(--main);
	width: 15px;
	font-size: 0.8rem;
}

.menu_item span {
	display: inline-block;
	width: 15px;
	font-weight: bold;
	color: var(--main);
	font-size: 0.8rem;
	text-align: center;
}
