<IfModule mod_rewrite.c>
   RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>

# Set Access-Control-Allow-Origin header for all image requests
<FilesMatch "\.(jpg|jpeg|png|gif|bmp|webp|tiff|svg)$">
   Header set Access-Control-Allow-Origin "*"
</FilesMatch>